<script type="text/ng-template" id="templates/splash.html">
  <div class="row">
    <div class="large-6 columns cc-page-splash-container">
      <div class="cc-page-splash-logo-container">
        <%= image_tag "calcentral_logo_big_396x41.png", :size => "372x40", :alt => "", :class => "cc-page-splash-logo cc-left" %>
        <div class="cc-page-splash-beta">Beta</div>
      </div>
      <div>
        <button class="radius cc-button cc-button-blue" data-ng-click="api.user.signIn()">Sign In</button>
      </div>
      <div>
        <a class="radius cc-button" href="https://ets.berkeley.edu/calcentral">Learn More<span class="cc-visuallyhidden"> about the CalCentral releases</span></a>
      </div>

      <div class="row collapse cc-page-splash-blog-panel" data-ng-show="latest_release_note.title">
        <div class="large-2 columns hide-for-small cc-page-splash-blog-date">
          <p>{{latest_release_note.date}}</p>
        </div>
        <div class="large-10 columns small-12">
          <p class="cc-splash-blog-title">
            <a data-ng-href="{{latest_release_note.link}}">{{latest_release_note.title}}</a>
          </p>
          <p class="cc-splash-blog-summary" data-ng-bind-html="latest_release_note.snippet"></p>
        </div>
      </div>
    </div>

    <div class="large-6 columns">
      Carousel
    </div>
  </div>

</script>
