<div class="cc-widget cc-widget-finaid-budget" data-ng-controller="FinaidBudgetController">
  <div class="cc-widget-title">
    <h2>
      Budget
      <span class="cc-widget-title-sub" data-ng-bind-template="{{budget.startTerm}} {{budget.startTermYear}} - {{budget.endTerm}} {{budget.endTermYear}}"></span>
    </h2>
  </div>

  <div class="cc-widget-text">
    <highchart id="chart1" class="cc-widget-finaid-budget-graph" config="chartConfig" class="span10"></highchart>
    <hr class="cc-widget-border" />
    <div class="cc-widget-finaid-budget-header cc-clearfix-container">
      <span class="cc-left">Budget</span>
      <span class="cc-right" data-cc-amount-directive="budget.budgetTotal"></span>
    </div>
    <hr class="cc-widget-border" />
    <ul class="cc-budget-chart">
      <li data-ng-repeat="item in budget.items" class="cc-clearfix">
        <div>
          <span class="cc-left" data-ng-bind="item.title"></span>
          <span class="cc-right" data-ng-bind="item.amountText"></span>
        </div>
      </li>
    </ul>
  </div>
</div>
