<div class="medium-4 columns" data-ng-show="myfinances.summary">

  <div class="cc-widget cc-widget-interesting">
    <div class="cc-widget-title">
      <h2>Summary</h2>
    </div>

    <ul class="cc-widget-list cc-page-myfinances-account-summary-list">

      <li class="cc-page-myfinances-account-summary-item cc-clearfix-container cc-page-myfinances-dpp" data-ng-if="myfinances.summary.isOnDPP">
        <div class="small-12 columns">
          <strong>Deferred Payment Plan</strong>
        </div>
        <div class="cc-page-myfinances-dpp-amounts">
          <div class="small-8 columns">
            DPP Balance <sup>1</sup>
          </div>
          <div class="small-4 columns">
            <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.dppBalance"></div>
          </div>
          <div class="small-8 columns" data-ng-if="myfinances.summary.dppNormalInstallmentAmount !== '0.00'">
            DPP Normal Installment Amount
          </div>
          <div class="small-4 columns" data-ng-if="myfinances.summary.dppNormalInstallmentAmount !== '0.00'">
            <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.dppNormalInstallmentAmount"></div>
          </div>
        </div>
        <div class="small-12 columns cc-page-myfinances-dpp-note">
          1: Reflected in charges with DPP listed in Activity
        </div>
      </li>

      <li class="cc-page-myfinances-account-summary-item cc-clearfix-container">
        <div class="small-8 columns">
          <strong data-ng-if="myfinances.summary.minimumAmountDueFloat >= 0">
            <span data-ng-if="myfinances.summary.isOnDPP && !myfinances.summary.isDppPastDue">Other</span> Amount Due Now
          </strong>
          <strong data-ng-if="myfinances.summary.minimumAmountDueFloat < 0">
            Credit Balance
          </strong>
          <div data-ng-if="myfinances.summary.totalPastDueAmountFloat > 0" class="cc-page-myfinances-red cc-page-myfinances-account-summary-subtitle">Includes Past Due Amount of <span data-cc-amount-directive="myfinances.summary.totalPastDueAmount"></span>
          </div>
        </div>
        <div class="small-4 columns">
          <div class="cc-page-myfinances-amount">
            <strong data-cc-amount-directive="myfinances.summary.minimumAmountDue"></strong>
          </div>
        </div>

        <section class="cc-clearfix-container" data-ng-if="myfinances.summary.futureActivity !== '0.00'">
          <div class="small-8 columns">
            Charges Not Yet Due
          </div>
          <div class="small-4 columns">
            <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.futureActivity"></div>
          </div>
        </section>
        <section class="cc-clearfix-container cc-page-myfinances-not-amount-due-dpp" data-ng-if="myfinances.summary.isOnDPP && !myfinances.summary.isDppPastDue">
          <div class="small-12 columns">
            These do not include the amount due on DPP.
          </div>
        </section>
      </li>

      <li data-ng-class="{'cc-widget-list-selected': myfinances.show}">
        <div
          class="cc-widget-list-hover cc-page-myfinances-account-summary-item"
          data-ng-class="{'cc-widget-list-hover-opened':(myfinances.show)}"
          data-cc-accessible-focus-directive
          data-ng-click="api.widget.toggleShow($event, null, myfinances, 'My Finances - Summary', false)">

          <div class="small-8 columns">Account Balance
            <div class="cc-page-myfinances-account-summary-subtitle cc-page-myfinances-light">includes charges not yet due</div>
          </div>
          <div class="small-4 columns">
            <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.accountBalance"></div>
          </div>

          <div class="cc-page-myfinances-light" data-ng-show="myfinances.show">
            <div class="small-8 columns">
              Last Statement Balance <span class="cc-page-myfinances-lighter">({{myfinances.summary.lastStatementDate | date:'MM/dd/yy'}})</span>
            </div>
            <div class="small-4 columns">
              <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.lastStatementBalance"></div>
            </div>
          </div>
          <div class="small-12 columns cc-page-myfinances-light" data-ng-show="myfinances.show">
            <a href="https://bearfacts.berkeley.edu/bearfacts/student/CARS/ebill.do?bfaction=accessEBill">View Statements</a>
          </div>
        </div>
      </li>
      <li data-ng-if="myfinances.summary.accountBalance !== '0.00'">
        <div class="cc-page-myfinances-account-summary-buttons">
          <a class="cc-button cc-button-blue" href="http://studentbilling.berkeley.edu/carsPaymentOptions.htm">Make Payment</a>
          <a data-ng-if="!isSubPage" class="cc-button" href="/finances/details">See details</a>
        </div>
      </li>

      <li class="cc-page-myfinances-account-summary-item cc-page-myfinances-unapplied-awards cc-clearfix-container" data-ng-if="myfinances.summary.anticipatedAidFloat > 0">
        <div class="small-8 columns">
          Unapplied Awards
        </div>
        <div class="small-4 columns">
          <div class="cc-page-myfinances-amount" data-cc-amount-directive="myfinances.summary.anticipatedAid"></div>
        </div>
      </li>

    </ul>
  </div>
</div>
