{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://ucberkeley.beta.instructure.com/api/v1/courses/1121?include%5B%5D=term",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": "",
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ],
          "x-sakai-token": null
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": null
        },
        "headers": {
          "content-type": [
            "application/json; charset=utf-8"
          ],
          "etag": [
            "\"693f742fb0f4c29b4542035b43980a98\""
          ],
          "status": [
            "200 OK"
          ],
          "x-canvas-meta": [
            "a=90242;s=19;c=cluster19;z=us-east-1b;"
          ],
          "x-canvas-user-id": [
            "190000003057506"
          ],
          "x-request-context-id": [
            "d7726e60-a0de-0131-c0e0-02f88540aa71"
          ],
          "x-session-id": [
            "fc5e0dea28b4e1451ebb138027cb5857"
          ]
        },
        "body": {
          "encoding": "US-ASCII",
          "string": "",
          "debug_json": {
            "account_id": 128847,
            "course_code": "STAT 5432 Fa2013",
            "default_view": "feed",
            "id": 1121,
            "name": "Whither Statistics",
            "start_at": null,
            "end_at": null,
            "public_syllabus": false,
            "storage_quota_mb": 1024,
            "hide_final_grades": false,
            "term": {
              "end_at": null,
              "id": 1818,
              "name": "Default Term",
              "start_at": null,
              "workflow_state": "active",
              "sis_term_id": "TERM:2013-D"
            },
            "apply_assignment_group_weights": false,
            "calendar": {
              "ics": "https://ucberkeley.test.instructure.com/feeds/calendars/course_xyz.ics"
            },
            "sis_course_id": "CRS:STAT-5432-2013-D-757999",
            "enrollments": [

            ],
            "workflow_state": "available"
          }
        },
      },
      "recorded_at": "Tue, 17 Sep 2013 16:51:27 GMT"
    }
  ],
  "recorded_with": "VCR 2.5.0"
}
