.cc-widget-admission-chart {
  height: 300px;
  .highcharts-title {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
  }
}
.cc-widget-admission-info {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
