.cc-cal1card {
  .cc-cal1card-amount, .cc-cal1card-points {
    color: $cc-color-green;
    font-size: 18px;
    font-weight: bold;
  }
  .cc-cal1card-header {
    font-size: 14px;
  }
  .cc-cal1card-points {
    font-weight: normal;
    margin-left: 5px;
  }
  .cc-cal1card-yourbalance {
    line-height: 11px;
    margin-bottom: 5px;
  }
  .cc-widget-list li {
    padding: 10px 0;
  }
  .cc-widget-list li a {
    padding: 8px 0 0;
    &:focus, &:hover {
      background: transparent;
      text-decoration: underline;
    }
  }
}
