.cc-page-myfinances {
  margin-top: 30px;
  h1 {
    color: #2fb4d4;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    text-transform: uppercase;
  }
  h2 {
    border-bottom: 1px solid #2fb4d4;
    font-size: 16px;
    padding-bottom: 5px;
  }
  .cc-page-myfinances-table-header {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
  }
}
