.cc-page-myfinances {
  margin-top: 30px;
  h1 {
    color: #2fb4d4;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    text-transform: uppercase;
  }
  h2 {
    border-bottom: 1px solid #2fb4d4;
    font-size: 16px;
    padding-bottom: 5px;
  }
  hr {
    border: 1px solid #999;
    margin: 50px 1.1em 5px;
  }
  .cc-page-myfinances-amount {
    text-align: right;
  }
  .cc-page-myfinances-terms {
    margin-bottom: 15px;
  }
  .cc-myfincances-red {
    color: #D23D46;
  }
  .cc-myfincances-green {
    color: #0D863D;
  }
  .cc-page-myfinances-light {
    color: #777;
    font-size: 13px;
  }
  .cc-page-myfinances-account-summary {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 30px;
    margin-bottom: 20px;
    .cc-page-myfinances-amount {
      font-weight: bold;
    }
    .cc-page-myfinances-minimum-amount > div {
      background: #E7EFF8;
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
  .cc-page-myfinances-account-activity {
    font-size: 14px;
    line-height: 1.6;
  }
  .cc-page-myfinances-table-header {
    background: #E5E5E5;
    font-weight: bold;
    margin-top: 15px;
    padding: 3px 0;
    &>div:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .cc-page-myfinances-table-row:nth-child(even) {
    background: #F1F1F1;
  }
}
