/* Shared between mygroups and myclasses */
.cc-widget-mygroups-myclasses-list {
  a {
    line-height: 0.9;
  }
  .cc-widget-mygroups-myclasses-icon {
    height: 20px;
    width: 20px;
  }
  .cc-widget-mygroups-myclasses-title-link {
    color: $cc-color-medium-grey;
    font-size: 0.85em;
  }
}
