$cc-color-splash-blue-dark: #004677;

.cc-page-splash {
  .cc-container-main {
    background: $cc-color-white;
    padding: 30px;
  }

  > header, .cc-navigation-bar {
    display: none;
  }

  .cc-page-splash-beta {
    color: $cc-color-red;
    font-size: 22px;
    margin-top: 52px;
    text-transform: uppercase;
  }
  .cc-page-splash-logo {
    margin-top: 60px;
  }
  .cc-page-splash-logo-container {
    overflow: hidden;
  }
  h2 {
    color: $cc-color-splash-blue-dark;
    font-size: 18px;
    margin: 0 0 10px;
  }

  .cc-page-splash-blog-panel {
    background: $cc-color-main-background;
    margin: 150px 0 0 0;
    padding: 10px;
    .cc-page-splash-blog-date {
      padding: 0;
      p {
        color: $cc-color-launcher-border;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .cc-splash-blog-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 0;
    }
    .cc-splash-blog-summary {
      margin-bottom: 0;
    }
  }

  /* Mobile only */
  @media only screen and (max-width: 767px) {
    .cc-container-main {
      background-position: center 225px;
      background-size: contain;
      padding: 0 10px;
    }
    .cc-page-splash-blog-panel {
      margin-top: 25px;
    }
  }

}
