.cc-widget-student-lookup {
  form {
    background: white;
    border: none;

    label {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 5px;
      text-align: left;
    }

    input {
      height: 25px;
      margin-right: 2px;
      width: 70%;
    }
  }

  tbody tr:hover {
    background: #EBEBEB;
  }
}

.cc-widget-student-lookup-search-button {
  width: 28%;
}

.cc-widget-student-lookup-tab {
  padding: 10px 5px;
}

.cc-widget-student-lookup-sid {
  padding-right: 15px !important;
  text-align: right !important;
}
